{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            {{title}}
        {% else %}
        News
        {% endif %}
    </title>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    {% endblock stylesheet %}
</head>
<body>
    <div class="container">
        {% block content %} 
        {% endblock content %}
    </div>
    {% block script %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/jqueryajax.min.js'%}"></script>
    <script src="{% static 'js/bs.min.js'%}"></script>


    {% endblock script %}
</body>
</html>